<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  >
  <test thread-count="1" verbose="1" name="Test" parallel="false">
    <classes>
       <class name="bac_pack.Login_Roles"/>
       <class name="bac_pack.Customer_Module"/>
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
